.about {
  .container {
    padding: 10vh 2vh;

    @mixin atLarge {
      padding: 10vh 20vh;
    }
  }
  &_bar {
    background-color: $purple;
  }

  &_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    @mixin atMedium {
      flex-wrap: nowrap;
    }
  }

  &_text {
    font-size: 1.2em;
    font-weight: 100;
    text-align: center;

    @mixin atMedium {
      font-size: 1.5em;
      line-height: 3rem;
      text-align: left;
    }
  }

  &_img {
    padding: 1rem 0;
    display: block;
    text-align: center;

    @mixin atMedium {
      padding: 5rem 0;
    }

    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
  }
}
